# SPDX-License-Identifier: GPL-2.0
config MOTO_MM
        tristate "Moto MM"
        default n
        help
         Say Y here if you have a MOTO MM compatible
         device defined.

         This driver can also be built as a module.  If so, the module
         will be called f_usbnet.
