CONFIG_INLINE_OPTIMIZATION=y
CONFIG_LLVM_POLLY=y
CONFIG_WIREGUARD=y
CONFIG_COMPAT_VDSO=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
# CONFIG_THINLTO is not set
CONFIG_LTO_CLANG=y
CONFIG_NR_CPUS=8
# CONFIG_KSU is not set
# CONFIG_KPROBES is not set
CONFIG_CPU_FREQ_DEFAULT_GOV_SCHEDUTIL=y
# CONFIG_ARCH_SUNXI is not set
# CONFIG_PARAVIRT is not set
# CONFIG_UNMAP_KERNEL_AT_EL0 is not set
# CONFIG_ARM_SCPI_PROTOCOL is not set
# CONFIG_BT_RFCOMM is not set
# CONFIG_BT_HIDP is not set
# CONFIG_BT_HCIBTSDIO is not set
# CONFIG_BT_HCIUART is not set
# CONFIG_MAC80211 is not set
# CONFIG_SERIAL_825 is not set
# CONFIG_SERIAL_SAMSUNG is not set
# CONFIG_SERIAL_SPRD is not set
# CONFIG_SERIAL_DEV_BUS is not set
# CONFIG_SPMI_MSM_PMIC_ARB_DEBUG is not set
# CONFIG_PINCTRL_AMD is not set
# CONFIG_RTC_DRV_PL030 is not set
# CONFIG_RTC_DRV_PL031 is not set
# CONFIG_ANDROID_VSOC is not set
# CONFIG_REMOTEPROC is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_LIBNVDIMM is not set
# CONFIG_CORESIGHT is not set
CONFIG_USERFAULTFD=y
# CONFIG_DEBUG_FS is not set
# CONFIG_AUDIT is not set
# CONFIG_CFI_CLANG is not set
CONFIG_ADAPTIVE_TOLERANCE_OPTIMIZATION=y
# CONFIG_CPU_FREQ_TIMES is not set
# CONFIG_DEBUG_KERNEL is not set
# CONFIG_QTI_HW_MEMLAT_LOG is not set
# CONFIG_IPC_LOGGING is not set
# CONFIG_SLUB_DEBUG is not set
# CONFIG_DYNAMIC_DEBUG_CORE is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_ANDROID_KABI_RESERVE is not set
# CONFIG_ANDROID_VENDOR_OEM_DATA is not set
# CONFIG_STM_PROTO_BASIC is not set
